<div class="komanda-box">

  <div class='komanda-box-title'>
      About Komanda
  </div>

  <div class="komanda-box-content">

    <p class='komanda-box-text'>
    {{{message}}}
    </p>

  </div>

</div>

