<div class="komanda-box">

  <div class='komanda-box-title'>
      About Komanda
  </div>

  <div class="komanda-box-content">

    <div class="logo-holder">
      {{> templates/partials/logo }}
    </div>

    <div class="komanda-information">
      <span class="komanda-information-name">
        Komanda {{version this}}<br />
      </span>

      Source Code: <a href="https://github.com/mephux/komanda">https://github.com/mephux/komanda</a><br /><br />
      Issues: <a href="https://github.com/mephux/komanda/issues">https://github.com/mephux/komanda/issues</a><br /><br />
      Wiki: <a href="https://github.com/mephux/komanda/wiki">https://github.com/mephux/komanda/wiki</a><br /><br />
    </div>
  </div>

</div>

