<div class="komanda-box">

  <div class='komanda-box-title'>
    Add New IRC Server
  </div>

  <div class="komanda-box-content">


  </div>

  <div class="komanda-box-footer">

    <div class='form-actions'>

      <button class='button {{button.type}} limp-action save-new-session'>Save Server</button>

      {{#if ignore_cancel}}
      {{else}}
      <button class='button' onClick='$.limpClose()'>Cancel</button>
      {{/if}}

    </div>

  </div>

</div>

