<div class="komanda-box">

  <div class='komanda-box-title'>
    Edit {{name}}
  </div>

  <div class="komanda-box-content">


  </div>

  <div class="komanda-box-footer">

    <div class='form-actions'>

      <button class='button limp-action edit-session'>Save Changes</button>

      {{#if connected}}
      <button class='button right warning disconnect-session'>Disconnect</button>
      {{else}}
      <button class='button right connect-session'>Connect</button>
      {{/if}}

      <button class='button right warning destroy-session'>Delete Server</button>


      {{#if ignore_cancel}}
      {{else}}
      <button class='button' onClick='$.limpClose()'>Cancel</button>
      {{/if}}

    </div>

  </div>

</div>

