<div class="komanda-box">

  <div class='komanda-box-title'>
    {{#if edit}}
    Edit {{session.server}}
    {{else}}
    Add New IRC Server
    {{/if}}
  </div>

  <div class="komanda-box-content">


  </div>

  <div class="komanda-box-footer">

    <div class='form-actions'>

      <button class='button limp-action edit-session'>Edit Server</button>

      {{#if session.connectionOpen}}
      <button class='button right warning disconnect-session'>Disconnect</button>
      {{else}}
      <button class='button right connect-session'>Connect</button>
      {{/if}}

      <button class='button right warning destroy-session'>Delete Server</button>


      {{#if ignore_cancel}}
      {{else}}
      <button class='button' onClick='$.limpClose()'>Cancel</button>
      {{/if}}

    </div>

  </div>

</div>

