<div class="komanda-box">

  <div class='komanda-box-title'>
    Komanda Settings
  </div>

  <div class="komanda-box-content">
    <ul class="komanda-box-menu">
      <li>
        General Settings
      </li>   
      <li>
        Interface
      </li>   
      <li>
        Servers
      </li>   
    </ul>
  </div>

</div>

