<div class='settings-section-holder' id="komanda-settings-general" style='display:block'>

  <div class="form-box">
    <label for="komanda-theme">Komanda Theme</label>

    <select id="komanda-settings-general-themes" name="themes.current">
      <option value="komanda-dark">Komanda Dark</option>
    </select>
  </div>

</div>

<div class='settings-section-holder' id="komanda-settings-notifications" style="display:none;">

  <div class="form-box">
    <label for="komanda-settings-notifications-highlight">On Highlight</label>
    <input id="komanda-settings-notifications-highlight" type="checkbox" name="notifications.highlight">
  </div>

  <div class="form-box">
    <label for="komanda-settings-notifications-pm">On Private Message</label>
    <input id="komanda-settings-notifications-pm" type="checkbox" name="notifications.pm">
  </div>

  <div class="form-box">
    <label for="komanda-settings-notifications-badge">Badge Notifications</label>
    <input id="komanda-settings-notifications-badge" type="checkbox" name="notifications.badge">
  </div>
</div>

<div class='settings-section-holder' id="komanda-settings-embed" style="display:none;">

  <div class="form-box">
    <label for="komanda-settings-embed-images">Embed Images</label>
    <input id="komanda-settings-embed-images" type="checkbox" name="embed.images">
  </div>

  <div class="form-box">
    <label for="komanda-settings-embed-gist">Embed Github gists</label>
    <input id="komanda-settings-embed-gist" type="checkbox" name="embed.gist">
  </div>

  <div class="form-box">
    <label for="komanda-settings-embed-jsfiddle">Embed JSFiddle</label>
    <input id="komanda-settings-embed-jsfiddle" type="checkbox" name="embed.jsfiddle">
  </div>
</div>
