/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* @end */

/* @group fonts */

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-hai-webfont.eot');
    src: url('fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hai-webfont.woff') format('woff'),
         url('fonts/lato-hai-webfont.ttf') format('truetype'),
         url('fonts/lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-lig-webfont.eot');
    src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lig-webfont.woff') format('woff'),
         url('fonts/lato-lig-webfont.ttf') format('truetype'),
         url('fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bol-webfont.eot');
    src: url('fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bol-webfont.woff') format('woff'),
         url('fonts/lato-bol-webfont.ttf') format('truetype'),
         url('fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bla-webfont.eot');
    src: url('fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bla-webfont.woff') format('woff'),
         url('fonts/lato-bla-webfont.ttf') format('truetype'),
         url('fonts/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

code, pre {
	font-family: "Courier New", Courier, mono;
}

/* @end */

/* @group Scroll Bar */

.scrollbar,
.scrollbar-hide {
	-webkit-overflow-scrolling: touch !important;
	overflow-y: overlay !important;
	overflow-x: hidden !important;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar-hide::-webkit-scrollbar{
	opacity: 0 !important;
	display: none !important;
  width: 5px;	
}

.scrollbar-hide:hover::-webkit-scrollbar{
	opacity: 1 !important;
	display: block !important;
  width: 5px;	
}

.scrollbar::-webkit-scrollbar-track,
.scrollbar-hide::-webkit-scrollbar-track {
  background-color: #30333c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #83888c;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:hover,
.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #93989c;
}

.scrollbar::-webkit-resizer,
.scrollbar::-webkit-scrollbar-corner,
.scrollbar::-webkit-scrollbar-button,
.scrollbar::-webkit-scrollbar-track-piece,

.scrollbar-hide::-webkit-resizer,
.scrollbar-hide::-webkit-scrollbar-corner,
.scrollbar-hide::-webkit-scrollbar-button,
.scrollbar-hide::-webkit-scrollbar-track-piece {
  display: none;
}

/* @end */

/* @group Main */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body{
 	-webkit-font-smoothing: antialiased;
	overflow: hidden;	
}

#wrapper{
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
}

/* @end */

/* @group Header */

#header{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	height: 30px;
	display: block;	
}

#header .title{
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	line-height: 30px;
}

#header .window-controls{
	height: 30px;
	z-index: 9999;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	margin-top: 9px;
}

#header .window-controls .window-button{
	cursor: pointer;
	background-color: #000000;
	
-webkit-border-radius: 100px 100px 100px 100px;
-moz-border-radius: 100px 100px 100px 100px;
border-radius: 100px 100px 100px 100px;
	width: 13px;
	height: 13px;
	display: inline-block;
	float: left;
	margin-right: 5px;
    -webkit-app-region: no-drag;
}

/*#header .window-controls .window-button.close,*/
#header .window-controls .window-button.close:hover{
	background-color: #ff2600;
}

/*#header .window-controls .window-button.minimize,*/
#header .window-controls .window-button.minimize:hover{
	background-color: #ffe900;
}

/*#header .window-controls .window-button.maximize,*/
#header .window-controls .window-button.maximize:hover{
	background-color: #10cf00;
}


/* @end */

/* @group Content  */

#content{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
}

/* @end */

/* @group Sidebar */

#sidebar{
	width: 200px;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#sidebar .sessions-wrapper{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 49px;
	left: 0;
}

#sidebar .session{
	display: block;
	position: relative;
	overflow: hidden;
}

#sidebar .session.ui-sortable-helper{
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.4);

}

#sidebar .session .server,
div.header-box{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	
	
	height: 40px;
	line-height: 40px;
	display: block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	
	overflow: hidden;
	font-size: 0.9em;
}

#sidebar .session .server .server-inside{
	display: block;
	position: absolute;
	top: 0;
	right: 30px;
	bottom: 0;
	left: 10px;
	
	  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar .session .server{
	cursor: pointer !important;
	padding-right: 30px;
}

#sidebar .session .server i,
div.header-box i{
	margin-right: 10px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#sidebar .session .server i{
	z-index: 99999;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#sidebar .session .server-metadata,
div.break{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

	cursor: pointer;
	height: 4px;
	padding-left: 10px;
	padding-right: 10px;
	display: block;
	position: relative;
}

#sidebar .session .server i.show-hide-icon,
div.header-box i.show-hide-icon{
	margin: 0;
	display: block;
	position: absolute;
	top: 1px;
	width: 30px;
	height: 30px;
	right: -10px;
}

#sidebar .session .channel-list{
	display: block;
	position: relative;
	overflow: hidden;
}

#sidebar .session .channel-list ul.channels{
	position: relative;
	display: block;
	overflow: hidden;
}

#sidebar .session .channel-list ul.channels li{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 20px;
	display: block;
	position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#sidebar .session .channel-list ul.channels li span.user-count{
	height: 15px;
	line-height: 15px;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 5px;
	top: -4px;
}

#sidebar .session .channel-list ul.channels li i{
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 0.7em;
}

#sidebar .session .channel-list ul.channels li div.status{
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 11px;
}

/* @end */

/* @group Channel */

.channel{
	display: none;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.channel[data-name="Status"]{
	display: block;
}

.channel button.zen-button{
	outline: none;
	border: none;
	z-index: 99999;
	cursor: pointer;
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 15px;
	text-align: center;
	margin-right: 6px;
	
	
	outline: none;
padding: 8px 10px;
margin: 15px 5px 0 0;
display: inline-block;
	right: 180px;
	padding-right: 10px;
	padding-left: 10px;
	top: -9px;
}

.channel button.zen-button.full{
	right: 0 !important;
}

.channel .channel-names-holder{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 180px;
}

.channel .names{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 180px;
}

.channel .names .user-list{
	display: block;
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 0;
	left: 0;
}

.channel .names div.user{
	height: 34px;
	line-height: 34px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.channel .names div.user i {
	margin-right: 5px;
}

.channel .names div.user[data-value="@"] i{
}

.channel .names div.user[data-value="+"] i{
}

.channel .messages{
	display: block;
	position: absolute;
	top: 40px;
	right: 180px;
	bottom: 51px;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.full{
	right: 0 !important;
}

.channel .topic{
	z-index: 999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	right: 180px;
	left: 0;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 45px;
}

.channel.github-plugin .messages{
	top: 80px;	
}

.channel.github-plugin .topic{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.channel .github-plugin-bar{
	z-index: 999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
	height: 39px;
	display: block;
	position: absolute;
	top: 40px;
	right: 180px;
	left: 0;
	line-height: 39px;
	padding-left: 10px;
	padding-right: 45px;	
	
	z-index: 999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

	background-color: #495561;

	font-size: 0.9em;	
	
-webkit-box-shadow: 0px 0px 0px 1px rgba( 0,0,0, 1), 0px 2px 0px rgba( 255,255,255,0.03 ), inset 0px 1px 0px rgba( 255,255,255,0.14);
-moz-box-shadow: 0px 0px 0px 1px rgba( 0,0,0, 1), 0px 2px 0px rgba( 255,255,255,0.03 ), inset 0px 1px 0px rgba( 255,255,255,0.14);
-o-box-shadow: 0px 0px 0px 1px rgba( 0,0,0, 1), 0px 2px 0px rgba( 255,255,255,0.03 ), inset 0px 1px 0px rgba( 255,255,255,0.14);
-ms-box-shadow: 0px 0px 0px 1px rgba( 0,0,0, 1), 0px 2px 0px rgba( 255,255,255,0.03 ), inset 0px 1px 0px rgba( 255,255,255,0.14);
box-shadow: 0px 0px 0px 1px rgba( 0,0,0,1), 0px 2px 0px rgba( 255,255,255,0.03 ), inset 0px 1px 0px rgba( 255,255,255,0.14);
}

.channel .input{
	left: 0;
	bottom: 0;
	right: 180px;
	display: -webkit-flex;
	position: absolute;
	height: 50px;
	overflow: hidden;
}

.channel .input input,
.channel .input textarea{
	resize: none;
	outline: none;
	-webkit-flex: 1;
	clear: both;
	position: relative;
	padding: 7px;
	margin: 4px 3px;
}

/* @end */

/* @group Message */

div.message{
	display: block;
	position: relative;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	word-wrap:break-word;
}

div.message code{
	margin: 0;
	border: 1px solid #282e37;
	background-color: #293038;
	border-radius: 3px;
	padding: 3px 5px;
	font-size: 1.0em;
	color: #e8e8e8;
}

div.message pre{
background-color: #293038;
border: 1px solid #0d1014;
font-size: 13px;
line-height: 19px;
overflow: auto;
padding: 6px 10px;
border-radius: 3px
}

div.message pre code{
	background-color: transparent;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

div.message .body{
	position: relative;
	display: inline-block;
	word-wrap:break-word;
	padding-right: 10px;
}

div.message .body .timestamp{
	position: relative;
	display: inline-block;
}

div.message .body .nickname{
	position: relative;
	display: inline-block;
	text-align: right;
	margin-left: 5px;
	margin-right: 5px;
}

div.message .body .text{
	word-break: break-word;
	word-wrap:break-word;
	line-height: 18px;
	padding-right: 10px;
}

div.message .body .text .embed-items{
	display: inline-block;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

div.message .body .text .embed-items .show-more{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: pointer;
	display: inline-block;
	position: relative;
	padding: 5px 15px;
	margin-top: 10px;
}

div.message .body .text .embed-items .show-more i{
	margin-right: 5px;
}

div.message .body .text .embed-items .gist,
div.message .body .text .embed-items .jsfiddle-holder{
	display: none;
	margin-top: 10px;
}

div.message .body .text img{
	max-width: 200px;
	max-height: 200px;
	margin-top: 10px;
	margin-left: 120px;
}

/* @end */

/* @group Master Control */

#master-control-wrapper{
	z-index: 9999;
	height: 50px;
	line-height: 50px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#master-control-wrapper div.break{
	z-index: 99999;
}

#master-control{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	overflow: hidden;
	padding-left: 10px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#master-control .master-control-button{
	display: inline-block;
	position: relative;
	height: 30px;
	line-height: 30px;
	width: 30px;
	margin-right: 6px;
	float: left;
}

#master-control .master-control-button i{
	display: block;
	position: relative;
	top: 1px;
	left: -0.7px;
}

#master-control .master-control-button:hover i{
	opacity: 1;
}

#master-control .add-server{
	
}

#master-control .settings{
	
}

/* @end */

/* @group Komanda Box */

.komanda-box{
	font: 0.6em;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	overflow: auto;
	display: block;
	position: relative;
}

span.komanda-box-title-other{
	color: #c0b5ba;
	text-shadow: #000 0 1px 0;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	font-style: normal;
}

.komanda-box-title{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	font-variant: normal;
	border-bottom: 1px solid #000;
	font-style: normal;
	text-shadow: #000 0 -2px 0;
	display: block;
	position: relative;
	overflow: hidden;
	padding-left: 20px;
	width: auto;

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);

   -moz-border-radius-topright: 3px;
   -moz-border-radius-topleft: 3px;
   -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
	background-color: #151a1f;
	font-size: 1.4em;
}

.komanda-box-title i{
	position: relative;
	top: 4px;
	margin-right: 5px;
}

.limp-box-close{
	background: #323339;
	background: -moz-linear-gradient(top, #323339 0%, #242529 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323339), color-stop(100%,#242529));
	background: -webkit-linear-gradient(top, #323339 0%,#242529 100%);
	background: -o-linear-gradient(top, #323339 0%,#242529 100%);
	background: -ms-linear-gradient(top, #323339 0%,#242529 1040%);
	background: linear-gradient(top, #323339 0%,#242529 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323339', endColorstr='#242529',GradientType=0 );
	-webkit-box-shadow: 0 0 0 1px rgba( 0,0,0,0.5), 0px 2px 0px rgba( 255,255,255,0.05 ), inset 0 1px 0 rgba( 255,255,255,0.12);
	-o-box-shadow: 0 0 0 1px rgba( 0,0,0,0.5), 0px 2px 0px rgba( 255,255,255,0.05 ), inset 0 1px 0 rgba( 255,255,255,0.12);
	-ms-box-shadow: 0 0 0 1px rgba( 0,0,0,0.5), 0px 2px 0px rgba( 255,255,255,0.05 ), inset 0 1px 0 rgba( 255,255,255,0.12);
	-moz-box-shadow: 0 0 0 1px rgba( 0,0,0,0.5), 0px 2px 0px rgba( 255,255,255,0.05 ), inset 0 1px 0 rgba( 255,255,255,0.12);
	box-shadow: 0 0 0 1px rgba( 0,0,0,0.5), 0px 2px 0px rgba( 255,255,255,0.05 ), inset 0 1px 0 rgba( 255,255,255,0.12);
  -o-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
  border-radius: 3px;
	vertical-align: middle;
	display: block;
	position: relative;
	overflow: hidden;
}


.limp-box-close:active{
	background: #24252a;
	-webkit-box-shadow: 0 0 0 1px rgba( 0,0,0,1), 0 0 0 1px rgba( 167,167,167,0.1 ), inset 0 0px 5px rgba( 255,255,255,0.3);
	-o-box-shadow: 0 0 0 1px rgba( 0,0,0,1), 0 0 0 1px rgba( 167,167,167,0.1 ), inset 0 0px 5px rgba( 255,255,255,0.3);
	-ms-box-shadow: 0 0 0 1px rgba( 0,0,0,1), 0 0 0 1px rgba( 167,167,167,0.1 ), inset 0 0px 5px rgba( 255,255,255,0.3);
	-moz-box-shadow: 0 0 0 1px rgba( 0,0,0,1), 0 0 0 1px rgba( 167,167,167,0.1 ), inset 0 0px 5px rgba( 255,255,255,0.3);
	box-shadow: 0 0 0 1px rgba( 0,0,0,1), inset 0 0 0 1px rgba(167,167,167,0.1), inset 0px 0px 5px rgba( 0,0,0,0.3);
	text-shadow: #000 0 1px 0;

    background-color: #24252a;
    background-image: -moz-linear-gradient(top, #1a1a1a 0%, #24252a 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1a1a1a), color-stop(100%,#24252a));
    background-image: -webkit-linear-gradient(top, #1a1a1a 0%,#24252a 100%);
    background-image: -o-linear-gradient(top, #1a1a1a 0%,#24252a 100%);
    background-image: -ms-linear-gradient(top, #1a1a1a 0%,#24252a 100%);
    background-image: linear-gradient(top, #1a1a1a 0%,#24252a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a1a1a', endColorstr='#24252a',GradientType=0 );

}

.limp-box-close .limp-box-close-icon {
	display: inline-block;
	width: 10px;
	height: 10px;
	display: block;
	position: relative;
	left: 6px;
	top: 6px;
	text-align: center;
	line-height: 10px;
}

.limp-box-close i{
	opacity: 0.3;
	font-size: 0.55em;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	color: #fff;
	top: 7px;
	left: 6px;
}

.limp-box-close:hover i{
	opacity: 1;
}

.komanda-box-content{
  background: #333c44;
	padding: 20px 20px 5px;
	font-size: 0.9em;
	border-top: 1px solid rgba(255,255,255,0.1);
	display: block;
	position: relative;
	overflow: visible;
}

.komanda-box-content.no-padding{
	padding: 0 0 20px;
}

.komanda-box-content ul.komanda-box-menu{
	height: 35px;
	line-height: 35px;
	display: block;
	position: relative;
	background-color: rgba(0,0,0,0.5);
	top: -1px;
	margin-bottom: 20px;
}

.komanda-box-content ul.komanda-box-menu li{
	cursor: pointer;
	opacity: 0.5;
	float: left;
	display: block;
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
}

.komanda-box-content ul.komanda-box-menu li.selected{
	opacity: 1;
}

.komanda-box-content p.komanda-box-text{
	font-size: 1.1em;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	text-shadow: #000 0 1px 0;
	line-height: 20px;
}

.komanda-box .form-button{
	margin-top: -5px;
}

.komanda-box-footer{
  background: #333c44;
	line-height: 60px;
	display: block;
	overflow: visible;
	padding-left: 20px;
	padding-right: 20px;
	height: 60px;

    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
	position: relative;
}

.komanda-box-footer .form-actions{
	position: relative;
	display: block;
}

/* @end */

/* @group Forms */

div.form-box{
	display: block;
	position: relative;
	margin-top: 3px;
	margin-bottom: 3px;
}

div.form-box span.note{
	color: #fff;
	margin-left: 10px;
	font-size: 0.8em;
}

div.form-box.inline{
	display: inline-block;
}

div.form-box label{
	width: 160px;
	display: inline-block;
	position: relative;
	text-align: right;
	margin-right: 10px;
}

div.form-box input[type='text'],
div.form-box input[type='password']{
	width: 300px;
	resize: none;
	outline: none;
	clear: both;
	position: relative;
	padding: 7px;
	margin: 4px 3px;
}

/* @end */

/* @group Buttons */

.button{
	outline: none;
width: 425px;
padding: 8px 10px;
margin: 15px 5px 0 0;
display: inline-block;
	padding: 5px;
	max-width: 120px;
	cursor: pointer;
}

.button.right{
	float: right;
}

/* @end */

/* @group Zenmode */

body.zenmode #content{
	left:  0 !important;
}

body.zenmode .channel .channel-names-holder,
body.zenmode #sidebar{
	left: -200px !important;
}

body.zenmode #sidebar,
body.zenmode .channel button.zen-button,
body.zenmode .channel .input,
body.zenmode .channel .messages, 
body.zenmode .channel .topic,
body.zenmode .channel .plugin{
	right: 0 !important;
}

/* @end */

/* @group Keyframes */

@-webkit-keyframes shake { 
    0%, 100% {-webkit-transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-1px);} 
    20%, 40%, 60%, 80% {-webkit-transform: translateX(1px);} 
} 
@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-1px);} 
    20%, 40%, 60%, 80% {transform: translateX(1px);} 
} 

/* @end */

/* @group About */

.logo-holder,
.logo-holder svg{
	display: inline-block;
	margin-bottom: 5px;
}

.komanda-information{
display: block;
position: absolute;
top: 40px;
left: 250px;
width: 400px;
	color: #dadada;
}

.komanda-information a{
	color: #ff3a24;
}

.komanda-information span.komanda-information-name{
	color: #fff;
	font-size: 1.4em;
	margin-bottom: 20px;
	display: block;
	position: relative;
}

/* @end */

/* @group Github */

div.message.github-message{
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

div.message.github-message .body{
	display: block;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.plugin{
	
}

.plugin .plugin-logo{
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10px;
	width: 100px;
}

.plugin .plugin-logo span{
	vertical-align: middle;	
	cursor: pointer !important;
}

.plugin .plugin-options{
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	width: 350px;
}

.plugin .plugin-options button{
	margin-top: 10px;
	float: right;
	margin-right: 5px;
}

.plugin-button{
	background: #1d1e21;
	border: none;
	outline: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	background-image: -moz-linear-gradient( top, #d5d6d9 0%, #afb0b7);
	background-image: -webkit-gradient( linear, left top, left bottom, from(#d5d6d9), to(#afb0b7));
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4),inset 0px 1px 0px rgba(255,255,255,0.6);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4),inset 0px 1px 0px rgba(255,255,255,0.6);
	-o-box-shadow: 0px 1px 3px rgba(0,0,0,0.4),inset 0px 1px 0px rgba(255,255,255,0.6);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.4),inset 0px 1px 0px rgba(255,255,255,0.6);
	text-shadow: rgba(255,255,255,0.5) 0 1px 0;
	padding-right: 8px;
	padding-left: 8px;
	display: block;
	position: relative;
	overflow: hidden;
	font-size: 0.8em;
}

.plugin-button span{
	padding-right: 3px;
	padding-left: 3px;
	font-size: 1.0em;
	cursor: pointer; 
}

.plugin .title{
	display: block;
	position: absolute;
	overflow: hidden;
	top: 0;
	bottom: 0;
	left: 36px;
	width: 300px;
 	color: #949494;
	font-size: 0.8em;
	
	
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plugin .title span.name{
	font-weight: bold;
	color: #fff;
	padding-right: 5px;
	font-size: 1.3em;
}

.plugin .title span.description{
	color: #949494;
}

div.github-wrapper{
display: block;
position: relative;
left: 130px;
top: -16px;
padding-right: 150px;
	overflow: hidden;
}

div.github-wrapper .github-title{
	display: block;
}

div.github-wrapper a{
	color: #D0DAF5;
	margin-right: 3px;
	margin-left: 3px;
}

div.github-wrapper .github-title strong{
	font-weight: bold;
	text-decoration: none;
	font-variant: normal;
}

div.github-wrapper .github-title span{
	margin-right: 5px;
	vertical-align: middle;
}

div.github-wrapper .github-actor-image {
float: left;
margin-right: 10px;
top: 25px;
position: absolute;
}

div.github-wrapper .github-actor-image img {
	vertical-align: middle;
	border-radius: 3px;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.github-wrapper .github-body{
min-height: 35px;
margin-top: 10px;
display: block;
margin-left: 40px;
	color: #afafaf;
}

div.github-wrapper .github-body hr{
background: rgba(41, 43, 46, 1);
border: 0 none;
color: #3389E7;
height: 2px;
padding: 0;
margin: 15px 0;
}

div.github-wrapper .github-body img{
max-width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

div.github-wrapper .github-body p {
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

div.github-wrapper .github-body ul{
	padding-left: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type: disc;
}

div.github-wrapper .github-body ul.commits{
	margin-top: 5px;
	margin-bottom: 5px;
	list-style-type: none;
	padding: 0;
}

div.github-wrapper .github-body ul.commits li{
	margin-top: 7px;
	list-style-type: none;
	color: #b2b2b2;
	line-height: 22px;
}

div.github-wrapper .github-body ul li{
display: list-item;
text-align: -webkit-match-parent;
}

/* @end */













































