/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end */

/* @group fonts */

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-hai-webfont.eot');
    src: url('fonts/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-hai-webfont.woff') format('woff'),
         url('fonts/lato-hai-webfont.ttf') format('truetype'),
         url('fonts/lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-lig-webfont.eot');
    src: url('fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-lig-webfont.woff') format('woff'),
         url('fonts/lato-lig-webfont.ttf') format('truetype'),
         url('fonts/lato-lig-webfont.svg#latolight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-reg-webfont.eot');
    src: url('fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-reg-webfont.woff') format('woff'),
         url('fonts/lato-reg-webfont.ttf') format('truetype'),
         url('fonts/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bol-webfont.eot');
    src: url('fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bol-webfont.woff') format('woff'),
         url('fonts/lato-bol-webfont.ttf') format('truetype'),
         url('fonts/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('fonts/lato-bla-webfont.eot');
    src: url('fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lato-bla-webfont.woff') format('woff'),
         url('fonts/lato-bla-webfont.ttf') format('truetype'),
         url('fonts/lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

/* @end */

/* @group Scroll Bar */

/* @end */

/* @group Main */

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html, body{
	color: #fff;
	background: #151a1f;
 	-webkit-font-smoothing: antialiased;
	font: 1.0em 'Lato', Calibri, Arial, sans-serif;
	overflow: hidden;
	font-weight: normal;	
}

#wrapper{
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	bottom: 0;
	left: 0;
}

/* @end */

/* @group Header */

#header{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

	height: 30px;
	display: block;
/*background-color: #3b3b43;*/
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 59, 67, 0.80)), to(rgba(38, 39, 44, 0.80)));
background-image: -webkit-linear-gradient(top, rgba(59, 59, 67, 0.80), rgba(38, 39, 44, 0.80));
background-image: -moz-linear-gradient(top, rgba(59, 59, 67, 0.80), rgba(38, 39, 44, 0.80));
background-image: -o-linear-gradient(top, rgba(59, 59, 67, 0.80), rgba(38, 39, 44, 0.80));
background-image: -ms-linear-gradient(top, rgba(59, 59, 67, 0.80), rgba(38, 39, 44, 0.80));
background-image: linear-gradient(top, rgba(59, 59, 67, 0.80), rgba(38, 39, 44, 0.80));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#3b3b43', EndColorStr='#26272c');
	border-bottom: 1px solid #000;
	
}

#header .title{
	height: 30px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 30px;
	color: #fff;
	text-shadow: rgba(0,0,0,0.5) 0 -1px 0;
	font-size: 0.85em;
	text-transform: capitalize;
}

#header .window-controls{
	height: 30px;
	z-index: 9999;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	margin-top: 9px;
}

#header .window-controls .window-button{
	cursor: pointer;
	background-color: #000000;
	
-webkit-border-radius: 100px 100px 100px 100px;
-moz-border-radius: 100px 100px 100px 100px;
border-radius: 100px 100px 100px 100px;
	width: 13px;
	height: 13px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}

/*#header .window-controls .window-button.close,*/
#header .window-controls .window-button.close:hover{
	background-color: #ff2600;
}

/*#header .window-controls .window-button.minimize,*/
#header .window-controls .window-button.minimize:hover{
	background-color: #ffe900;
}

/*#header .window-controls .window-button.maximize,*/
#header .window-controls .window-button.maximize:hover{
	background-color: #10cf00;
}


/* @end */

/* @group Content  */

#content{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 200px;
	background-color: #151a1f;
}

/* @end */

/* @group Sidebar */

#sidebar{
	width: 200px;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #333c44;
	border-right: 1px solid #000;
	padding: 0;
	overflow-x: hidden;
		overflow-y: scroll;
}

#sidebar .session{
	display: block;
	position: relative;
	overflow: hidden;
}

#sidebar .session .server{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

background-color: #30353f;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(48, 53, 63)), to(rgb(33, 43, 48)));
background-image: -webkit-linear-gradient(top, rgb(48, 53, 63), rgb(33, 43, 48));
background-image: -moz-linear-gradient(top, rgb(48, 53, 63), rgb(33, 43, 48));
background-image: -o-linear-gradient(top, rgb(48, 53, 63), rgb(33, 43, 48));
background-image: -ms-linear-gradient(top, rgb(48, 53, 63), rgb(33, 43, 48));
background-image: linear-gradient(top, rgb(48, 53, 63), rgb(33, 43, 48));
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#30353f', EndColorStr='#212b30');
	
	
	height: 40px;
	line-height: 40px;
	display: block;
	position: relative;
	border-bottom: 1px solid #000;
	padding-left: 10px;
	padding-right: 10px;
	
	cursor: pointer;
	overflow: hidden;
}

#sidebar .session .server i{
	margin-right: 10px;
}

#sidebar .session .server-metadata{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

	cursor: pointer;
	height: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #2e3439;
	border-top: 1px solid rgba(254,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.6);
	display: block;
	position: relative;
	font-size: 0.7em;
}

#sidebar .session .server i.show-hide-icon{
	opacity: 0.7;
	margin: 0;
	display: block;
	position: absolute;
	top: 1px;
	color: #fff;
	width: 30px;
	height: 30px;
	right: -7px;
	font-size: 0.6em;
}

#sidebar .session .channel-list{
	display: block;
	position: relative;
	overflow: hidden;
}

#sidebar .session .channel-list ul.channels{
	position: relative;
	display: block;
	overflow: hidden;
}

#sidebar .session .channel-list ul.channels li{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

	cursor: pointer;
	height: 35px;
	line-height: 35px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #40484f;
	border-top: 1px solid rgba(254,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.6);
	font-size: 0.8em;
	display: block;
	position: relative;
}

#sidebar .session .channel-list ul.channels li span.user-count{
	height: 15px;
	line-height: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #4b4b4b;
	font-size: 0.7em;
	text-align: center;
	border-bottom: 1px solid #000;
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-right: 5px;
	padding-left: 5px;
	top: -4px;
}

#sidebar .session .channel-list ul.channels li i{
	opacity: 0.4;
	display: block;
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 0.7em;
}

#sidebar .session .channel-list ul.channels li.selected i,
#sidebar .session .channel-list ul.channels li:hover i{
	opacity: 1;
}

#sidebar .session .channel-list ul.channels li:hover{
	background-color: #4c565e;	
}

#sidebar .session .channel-list ul.channels li.selected,
#sidebar .session .channel-list ul.channels li.selected:hover{
	background-color: #4c90ff;
}

#sidebar .session .channel-list ul.channels li div.status{
	cursor: pointer;
	background-color: #90a5b5;
	
-webkit-border-radius: 100px 100px 100px 100px;
-moz-border-radius: 100px 100px 100px 100px;
border-radius: 100px 100px 100px 100px;
	width: 10px;
	height: 10px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-top: 11px;
}


/* @end */

/* @group Channel */

.channel{
	display: none;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.channel .names{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 180px;
	background-color: #333c44;
	border-left: 1px solid #000;
	overflow-x:hidden;
	overflow-y:scroll;
}

.channel .names div.user{
	height: 30px;
	line-height: 30px;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #111316;
	font-size: 0.8em;
	cursor: pointer;
	
background-color: #424855;

	border-top: 1px solid rgba(216,232,255,0.1);
	
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.channel .names div.user i {
	opacity: 0.5;
	font-size: 0.8em;
	margin-right: 5px;
}

.channel .names div.user:hover,
.channel .names div.user.selected:hover{
	background-color: #525a6a;	
}

.channel .messages{
	display: block;
	position: absolute;
	top: 40px;
	right: 180px;
	bottom: 50px;
	left: 0;
	overflow-x: hidden;
	overflow-y: scroll;
}

.channel .topic{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
	height: 40px;
	display: block;
	position: absolute;
	top: 0;
	right: 180px;
	left: 0;
	background-color: #4b5966;
	border-bottom: 1px solid #000;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.9em;
}

.channel .input{
	left: 0;
	bottom: 0;
	right: 180px;
display: -webkit-flex;
	position: absolute;
	height: 50px;
	background-color: #3a434a;
	overflow: hidden;
	border-top: 1px solid #000;
}

.channel .input input{
resize: none;
	outline: none;
-webkit-flex: 1;
	background-color: #21252a;
	border: 1px solid #4d5967;
	clear: both;
	position: relative;
	padding: 7px;
	margin: 4px 3px;
	font-size: 0.9em;
	color: #fff;
}

/* @end */

/* @group Message */

div.message{
	display: block;
	position: relative;
	margin-bottom: 4px;
	margin-top: 4px;
	padding-left: 5px;
	padding-right: 5px;
	word-wrap:break-word;
	font-size: 14px;
}

div.message .body{
	position: relative;
	display: inline-block;
	word-wrap:break-word;
}

div.message .body .timestamp{
	position: relative;
	color: #39474c;
}

div.message .body .nickname{
	position: relative;
	/*width: 155px;*/
	display: inline-block;
	text-align: right;
	margin-left: 5px;
	margin-right: 5px;
}

div.message .body .text{
	position: relative;
	word-wrap:break-word;
	color: #e8e8e8;
	line-height: 17px;
}

div.message .body .text a{
	color: #96b5c4;
}

div.message .body .text a:hover{
	color: #abcddf;	
}

div.message .body .text img{
	max-width: 200px;
	max-height: 200px;
}

/* @end */

/* @group Options */



/* @end */

/* @group Input */



/* @end */

