<div class="github-plugin-bar plugin" data-server-id="{{server}}" data-name="{{channel}}">
  <div class="plugin-logo">
    <span class="octicon octicon-octoface"></span>
  </div>

  <div class="title">
    <span class="name">
      {{repo.metadata.name}} 
    </span>
    {{#if repo.metadata.description}}
    <span class="description">
      {{repo.metadata.description}}
    </span>
    {{/if}}
  </div>

</div>
