<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="200px" height="200px" viewBox="0 0 2187 2172" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.0.3 (7891) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Slices" sketch:type="MSLayerGroup"></g>
        <g id="1402540519_9_megaphone_start_game_design_flat_icon" sketch:type="MSLayerGroup" transform="translate(93.000000, 85.000000)">
            <g id="Group" sketch:type="MSShapeGroup">
                <g>
                    <path d="M1000,2000 C1552.28478,2000 2000,1552.28478 2000,1000 C2000,447.715223 1552.28478,0 1000,0 C447.715223,0 0,447.715223 0,1000 C0,1552.28478 447.715223,2000 1000,2000 Z" id="Oval" stroke="#082444" stroke-width="50" fill="#4990E2"></path>
                    <g transform="translate(417.061611, 565.560821)">
                        <path d="M549.374433,145.339652 L145.739965,145.339652 C129.87725,145.339652 116.903633,158.23319 116.903633,174.00274 L116.903633,345.973505 L116.903633,517.944269 C116.903633,533.713819 129.881154,546.603476 145.739965,546.603476 L549.374433,546.603476 C565.22934,546.603476 578.199052,533.713819 578.199052,517.944269 L578.199052,345.973505 L578.199052,174.00274 C578.199052,158.23319 565.22934,145.339652 549.374433,145.339652 L549.374433,145.339652 Z" id="Shape" fill="#242C3C"></path>
                        <g transform="translate(432.859400, 635.071090)" fill="#242C3C">
                            <rect id="Rectangle" x="0" y="28.436019" width="60.0315956" height="44.2338073"></rect>
                            <ellipse id="Oval" cx="30.0157978" cy="72.6698262" rx="30.0157978" ry="28.436019"></ellipse>
                            <ellipse id="Oval" cx="30.0157978" cy="28.436019" rx="30.0157978" ry="28.436019"></ellipse>
                        </g>
                        <path d="M446.877253,578.199052 L245.061971,578.199052 L230.647709,578.199052 L235.996447,591.537838 L235.996447,591.545625 L271.547982,680.178858 L276.77569,693.210066 L340.61697,852.36444 C343.560728,859.707391 352.458372,865.718799 360.387778,865.718799 L446.881157,865.718799 C454.810563,865.718799 461.295419,859.24797 461.295419,851.344369 L461.295419,721.962819 L461.295419,607.033567 L461.295419,592.581269 L461.295419,578.206839 L446.877253,578.206839 L446.877253,578.199052 Z" id="Shape" fill="#FFFFFF"></path>
                        <path d="M578.199052,175.673755 L578.199052,522.592403 L925.750395,638.230648 L925.750395,60.0315956 L578.199052,175.673755 Z" id="Shape" fill="#FFFFFF"></path>
                        <path d="M1093.20695,0 L922.590837,57.3976593 L922.590837,631.382025 L1093.20695,688.78357 L1093.20695,0 Z" id="Shape" fill="#D8D8DA"></path>
                        <path d="M1096.36651,0 L1096.36651,57.3970116 L1096.36651,229.591933 L1096.36651,286.99283 L1096.36651,401.786854 L1096.36651,459.187751 L1096.36651,631.382672 L1096.36651,688.78357 C1112.06504,688.78357 1124.80253,675.931521 1124.80253,660.083121 L1124.80253,631.382672 L1124.80253,459.187751 L1124.80253,401.786854 L1124.80253,286.99283 L1124.80253,229.591933 L1124.80253,57.3970116 L1124.80253,28.6965626 C1124.79868,12.8442767 1112.06504,0 1096.36651,0 L1096.36651,0 Z" id="Shape" fill="#242C3C"></path>
                        <circle id="Oval" fill="#D8D8DA" cx="232.227488" cy="548.183254" r="30.0157978"></circle>
                        <circle id="Oval" fill="#D8D8DA" cx="462.875197" cy="548.183254" r="30.0157978"></circle>
                        <path d="M60.0315956,464.454976 L60.0315956,404.423381 L0,404.423381 L60.0315956,464.454976 Z" id="Shape" fill="#242C3C"></path>
                        <path d="M0,290.679305 L60.0315956,290.679305 L60.0315956,230.647709 L0,290.679305 Z" id="Shape" fill="#2B3A49"></path>
                        <rect id="Rectangle" fill="#FFFFFF" x="60.0315956" y="230.647709" width="60.0315956" height="230.647709"></rect>
                        <rect id="Rectangle" fill="#242C3C" x="0" y="347.551343" width="60.0315956" height="60.0315956"></rect>
                        <rect id="Rectangle" fill="#2B3A49" x="0" y="287.519747" width="60.0315956" height="60.0315956"></rect>
                        <rect id="Rectangle" fill="#D8D8DA" x="230.647709" y="549.763033" width="230.647709" height="28.436019"></rect>
                        <path d="M60.0315956,461.295419 C26.8798796,461.295419 0,435.831132 0,404.421455 C0,373.011779 26.8798796,347.551343 60.0315956,347.551343 L60.0315956,461.295419 L60.0315956,461.295419 Z" id="Shape" fill="#242C3C"></path>
                        <path d="M60.0315956,344.391785 C26.8798796,344.391785 0,318.927498 0,287.521673 C0,256.115847 26.8798796,230.647709 60.0315956,230.647709 L60.0315956,344.391785 L60.0315956,344.391785 Z" id="Shape" fill="#2B3A49"></path>
                        <path d="M407.582938,807.266983 C407.582938,790.692247 394.31416,777.251185 377.964843,777.251185 L312.796209,777.251185 L336.489883,837.28278 L377.960832,837.28278 C394.31416,837.28278 407.582938,823.841718 407.582938,807.266983 L407.582938,807.266983 Z" id="Shape" fill="#D8D8DA"></path>
                        <path d="M407.582938,721.956893 C407.582938,705.381035 394.394323,691.943128 378.14378,691.943128 L278.041074,691.943128 L301.599577,751.974724 L378.147767,751.974724 C394.394323,751.970659 407.582938,738.532751 407.582938,721.956893 L407.582938,721.956893 Z" id="Shape" fill="#D8D8DA"></path>
                        <g transform="translate(116.903633, 145.339652)" id="Shape">
                            <path d="M461.295419,28.888502 C461.295419,12.9949362 448.321802,0 432.466895,0 L28.8324277,0 C12.9697122,0 0,12.9949362 0,28.888502 L0,202.21169 L461.295419,202.21169 L461.295419,28.888502 L461.295419,28.888502 Z" fill="#2B3A49"></path>
                            <path d="M0,202.21169 L0,375.538232 C0,391.432105 12.9697122,404.423381 28.8324277,404.423381 L432.466895,404.423381 C448.321802,404.423381 461.295419,391.432105 461.295419,375.538232 L461.295419,202.21169 L0,202.21169 L0,202.21169 Z" fill="#242C3C"></path>
                        </g>
                        <path d="M260.113819,606.635071 C259.761419,606.635071 259.432255,606.688784 259.083728,606.698262 L375.987362,606.698262 C375.487807,606.672986 375.003742,606.635071 374.504187,606.635071 L260.113819,606.635071 L260.113819,606.635071 Z" id="Shape"></path>
                        <path d="M375.649673,606.635071 L260.52756,606.635071 C260.172907,606.635071 259.841637,606.704166 259.490881,606.71636 L243.28594,606.71636 L245.067002,611.357936 C246.127066,610.65479 247.241691,610.024804 248.391393,609.467977 C247.241691,610.024804 246.127066,610.65479 245.067002,611.357936 L266.276066,666.666667 L375.645776,666.666667 C391.535036,666.666667 404.423381,653.225605 404.423381,636.650869 C404.423381,620.076133 391.538933,606.635071 375.649673,606.635071 L375.649673,606.635071 Z M252.969984,606.635071 C252.900474,606.660348 252.834123,606.695103 252.764613,606.71406 C252.834123,606.695103 252.900474,606.660348 252.969984,606.635071 L252.969984,606.635071 Z" id="Shape" fill="#D8D8DA"></path>
                    </g>
                </g>
                <g transform="translate(432.859400, 575.039494)" id="Shape" fill="#84AEDF">
                    <g transform="translate(0.000000, 436.018957)" fill-opacity="0.39">
                        <path d="M248.56245,218.599118 L227.312991,165.498497 L226.984995,164.679043 L219.316134,145.527232 L213.966674,132.15062 C198.039341,132.15062 185.130353,119.24617 185.130353,103.333153 L127.457711,103.333153 C111.592853,103.333153 98.6213898,90.3740732 98.6213898,74.5195888 L98.6213898,16.8846552 L40.9526522,16.8846552 C25.0214145,16.8846552 10.609111,10.4304792 0.16790275,-1.13686838e-13 L268.562401,268.562401 L260.096979,247.412683 L254.868565,234.356049 L248.56245,218.599118 Z"></path>
                    </g>
                    <g transform="translate(331.753555, -0.000000)" fill-opacity="0.389705882">
                        <path d="M770.253246,0 C775.485184,5.20856184 778.721394,12.4093206 778.721394,20.3586152 L778.721394,49.1499544 L778.721394,221.890192 L778.721394,279.472871 L778.721394,325.219326 L778.721394,394.63043 L778.721394,452.213109 L778.721394,624.953347 L778.721394,653.744686 C778.721394,669.643275 765.776553,682.536025 749.822468,682.536025 L576.436734,624.953347 L414.30143,571.10555 L251.336528,516.98485 L229.665268,509.78799 C229.665268,525.6281 216.661729,538.57543 200.770254,538.57543 L142.972401,538.57543 C142.972401,554.47402 130.02756,567.36677 114.077388,567.36677 L114.077388,581.76049 L114.077388,596.232183 L114.077388,624.945549 C122.052474,624.945549 129.276227,628.169712 134.504253,633.374375 C139.740104,638.586835 142.976314,645.783695 142.976314,653.736889 L142.976314,696.921948 C142.976314,712.820537 130.031474,725.709389 114.081301,725.709389 L114.081301,773.681959 L114.081301,840.870847 C114.081301,848.785054 107.581488,855.264567 99.6337942,855.264567 L89.7921151,855.264567 L12.9409276,855.264567 C8.56989157,855.264567 3.94841123,853.404924 0.144788122,850.555029 C0.0978298125,850.516043 514.137024,1355.85571 514.137024,1355.85571 C535.510881,1349.31382 555.692873,1349.77702 576.436707,1341.87451 C941.138421,1202.89246 1193.71976,860.48482 1209.86951,452.213104 L968.292092,197.30157 L770.253246,0 Z"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
