<div class="topic">
  {{channel}}
  <span class='title' title="{{topic.topic}}">
    {{topic.topic}}
  </span>
</div>

<div class="messages"></div>

{{> templates/partials/names this }}

<div class="input">
  <input type="text" autocomplete=""off"" spellcheck="true"></input>
</div>

