{{#if status}}
<div class="status server-status"></div>
{{channel}} (<span class="current-nick">{{nickname server}}</span>)
{{else}}
<div class="status"></div>
{{channel}} 
<i class="iconic part-channel" data-glyph="x"></i>
{{/if}}

