<div class="server" data-id="{{uuid}}">
  <div class="server-inside">
    <i class="iconic" data-glyph="pulse"></i>
    <span class="server-name">
      {{name}}
    </span>
  </div>

  <i class="iconic edit-session-data show-hide-icon" data-glyph="cogs" data-uuid="{{uuid}}"></i>
</div>
<div class="server-metadata"></div>
