<div class="form-box">
  <label for="name">Server Title</label>
  <input id="server-name" type="text" name="name" placeholder="Freenode" required>
</div>

<div class="form-box">
  <label for="server">Server Address</label>
  <input id="server-address" type="text" name="server" placeholder="irc.freenode.net" required>
  :
  <input style="width:60px" id="server-address" type="text" name="port" placeholder="6667" required>
</div>

<div class="form-box">
  <label for="nick">Nick</label>
  <input style="width:145px" id="server-nick" type="text" placeholder="User" name="nick" placeholder="Komanda" required>
  <input style="width:145px" id="server-nick-password" type="password" name="nickPassword" placeholder="Password">
</div>

<div class="form-box">
  <label for="realName">Real Name</label>
  <input id="server-real-name" type="text" name="realName" placeholder="Komanda User">
</div>

<div class="form-box">
  <label>Server Auth</label>
  <input style="width:145px" id="server-auth-user-name" type="text" placeholder="User" name="userName" placeholder="">
  <input style="width:145px" id="server-auth-password" type="password" name="password" placeholder="Password">
</div>

<div class="form-box">
  <label for="channels">Channels</label>
  <input id="server-channels" type="text" name="channels" placeholder="#channel1, #channel2, #channel3">
</div>

<div class="form-box">
  <label for="connectCommands">Commands on Connect</label>
  <textarea id="server-commands" name="connectCommands"></textarea>
</div>

<br>

<div class="form-box inline">
  <label for="name">Connect On Start</label>
  <input id="server-flood-protection" type="checkbox" name="connectOnStart">
</div>

<div class="form-box inline">
  <label for="name">Enable SSL</label>
  <input id="server-ssl" type="checkbox" name="secure">
</div>

<div class="form-box inline">
  <label for="name">Allow Self-Signed Cert?</label>
  <input id="server-ssl" type="checkbox" name="selfSigned">
</div>

<div class="form-box inline">
  <label for="name">Allow Expired Cert?</label>
  <input id="server-ssl" type="checkbox" name="certExpired">
</div>

<div class="form-box inline">
  <label for="name">Enable SASL</label>
  <input id="server-sasl" type="checkbox" name="sasl">
</div>

<div class="form-box inline">
  <label for="name">Enable Flood Protection</label>
  <input id="server-flood-protection" type="checkbox" name="floodProtection">
</div>
