<div class="server" data-id="{{uuid}}">
  <i class="iconic" data-glyph="pulse"></i>
  {{name}}
  <i class="iconic show-hide-icon" data-glyph="caret-bottom"></i>
</div>
<div class="server-metadata"></div>
