<div class="sessions-wrapper scrollbar-hide"></div>

<div id="master-control-wrapper">


  <div id="master-control">

    <div class="add-server master-control-button">
      <i class="iconic" data-glyph="plus"></i>
    </div>

    <div class="settings master-control-button">
      <i class="iconic" data-glyph="cogs"></i>
    </div>

    <div class="about master-control-button">
      <i class="iconic" data-glyph="info"></i>
    </div>

  </div>
</div>
